<div class="container">
  <div class="add-book">
    <div class="book-input">
      <label>Название:</label>
      <br>
      <input [(ngModel)]="name" (blur)='log(1)'>
      <div class="inupt-error"
      *ngIf="isCorrect[0]=== false">
        Количество символов в названии должно быть в диапозоне 2-100
      </div>
      
    </div>
    <div class="book-input">
      <label>Автор:</label>
      <br>
      <input [(ngModel)]="author" (blur)='log(2)'>
      <div class="inupt-error"
      *ngIf="isCorrect[1]!==true && isCorrect[1] !== null">
        Количество символов в имени автора должно быть в диапозоне 5-60
      </div>
    </div>
    <div class="book-input">
      <label>Количество страниц: </label>
      <br>
      <input [(ngModel)]="amountOfPages" (blur)='log(3)' value="null">
      <div class="inupt-error"
      *ngIf="isCorrect[2]!==true && isCorrect[2] !== null">
        Количество страниц должно быть в диапозоне от 10 до 1000
      </div>
    </div>
    <button (click)='addBook()'>Добавить книгу</button>
  </div>
  <div class="show-list">
    
    <ng-container class="book-item" *ngFor='let book of booksList; let i = index'>
        <div *ngIf='!toChange[i]; else elseBlock'>
          <div class="name-of-book">
            <h1>{{book.name}}</h1>
          </div>
          <div class="author-of-book">
            <h2>{{book.author}}</h2>
          </div>
          <div class="page-of-book">
            <h2>{{book.amountOfPages}}</h2>
          </div>
          <button (click)='toChange[i] = !toChange[i]; changeCurrentInfo()' >Изменить</button>
          <button (click)='removeBook(i)'>Удалить</button>
        </div>
        <ng-template #elseBlock>
          <h1>Название: </h1>
          <input [(ngModel)] ='book.name'>
          <br>
          <h2>Автор: </h2>
          <input [(ngModel)] ='book.author'>
          <br>
          <h2>Количество страниц: </h2>
          <input [(ngModel)] ='book.amountOfPages'>
          <br>
          <button (click)='saveChanges(i, book)'>Сохранить</button>
          <button (click) ='toChange[i] =! toChange[i]; cancelChanges()'>Отменить</button>
        </ng-template>
     </ng-container> 
  </div>


  
</div>